/*
body > *:nth-child(1) { background-color: tomato; }
body > *:nth-child(2) { background-color: lightpink; }
body > *:nth-child(3) { background-color: lightgreen; }
body > *:nth-child(4) { background-color: gold; }
body > *:nth-child(5) { background-color: lightblue; }
*/

/* Layout */
body {
  justify-content: center;
  padding: 0;
}

.wrapper {
  display: block;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 650px;
}

.wrapper twitter-widget,
.wrapper figure, 
.wrapper img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Styling */
html {
  min-height: 100%; /* linear-gradient will not cover entire page without this */
}

body {
  background: white;
  font-family: sans-serif;
  line-height: 1.6;
  color: #454545;
}

/* Titles */
h1, h2, h3 {
  line-height: 1.2;
}

/* Anchors */
a {
  color: #3b8bba;
  text-decoration: inherit;
  font-weight: inherit;
}

a:visited {
  color: auto;
}

a:hover, a:active {
  text-decoration: underline;
}

p a {
  background-color: yellow;
  color: inherit;
}

/* Header */
#header {
  min-height: 100px;
}

#header h1 {
  text-align: center;
  margin: 0;
}

#header h1 a {
  color: white;
  text-shadow: 3px 3px 1px black;
  font-size: 72px;
}

#header a:hover, #header a:active {
  text-decoration: none !important;
  color: #fafafa;
}

/* Nav */
#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-clip: padding-box;
}

#nav ul > li {
  display: inline-block;
}
#nav ul > li:not(:last-child):after {
  content: '|';
  padding: 0 0.1em;
  opacity: 0.5;
  color: black;
}

#nav a {
  color: inherit;
}

#nav a.active {
  font-weight: bold;
}

/* posts */
article .meta {
  font-style: italic;
  font-size: 14px;
}

.meta ul {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.meta ul > li {
  display: inline-block;
}
.meta ul > li:not(:last-child):after {
  content: ', ';
}

/* font-awesome.css */
.fa {
  padding: 0px;
}

/* Footer */
#footer {
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, .2);
  background-clip: padding-box;
}

#footer a {
  color: inherit;
}

/* partials/pagination.html */
.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination .left,
.pagination .right {
  font-weight: bold;
}

.pagination .next {
  margin-left: auto;
}

