{{ partial "header.html" . }}
{{ partial "nav.html" . }}
  <section class="posts wrapper">
    <article>
      <header>
        <h1>{{ partial "post-title.html" . }}</h1>
      </header>
      <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
      {{.Content}}
    </article>
{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
{{ range $paginator.Pages }}
      <article>
        <h2>
{{ partial "post-title.html" . }}
        </h2>
{{ partial "post-meta.html" . }}
        <p class="excerpt">
{{ partial "post-summary.html" . }}
        </p>
      </article>
{{ end }}
{{ partial "pagination.html" . }}
    </section>

  </section>
{{ partial "footer.html" . }}
