{{ partial "header.html" . }}
{{ partial "nav.html" . }}
  <section id="content" class="wrapper">
    <article>
      <h1>
{{ partial "post-title.html" . }}
      </h1>
{{ partial "post-meta.html" . }}
    {{ .Content }}
    </article>

{{ partial "series-pagination.html" . }}

{{ if .Params.comments }}
    <h2>
      comments
    </h2>
    <section class="comments">
{{ template "_internal/disqus.html" . }}
    </section>
{{ end }} 
  </section>
{{ partial "footer.html" . }}
