{{ partial "header.html" . }}
{{ partial "nav.html" . }}
  <section id="content" class="wrapper">
    <section>
      <h1>
        <a href="{{ .URL }}">
        {{ .Title }} by popularity
        </a>
      </h1>
      <ul>
{{ $data := .Data }}
{{ range $key, $value := .Data.Terms.ByCount }}
      <li>
        <a href="{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> ({{ $value.Count }})
      </li>
{{ end }}
      </ul>
    </section>
  </section>
{{ partial "footer.html" . }}
