  <meta charset="UTF-8">
  <title>{{ if ne .Title "" }}{{ .Page.Title }} &middot; {{ end }}{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ delimit .Keywords ", " }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ .Hugo.Generator }}
  <base href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="icon" href="/img/favicon-152.png" sizes="152x152">
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/google_news.html" . }}

  <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/main.css" type="text/css">
  <link rel="stylesheet" href="css/custom.css" type="text/css">
