<!DOCTYPE html>
<html>
<head>
{{ partial "head.html" . }}
</head>
<body{{ if and (isset .Site.Params "headerimg") (ne .Site.Params.headerimg "") }} style="background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1) 200px), url('{{ .Site.Params.headerimg }}') no-repeat top, #ababab;"{{ end }}>
  <header id="header" class="center">
      <h1>
        <a href="/">
          {{ .Site.Title }}
        </a>
      </h1>
  </header>
