  <nav id="nav" class="wrapper center">
      <ul>
{{ $currentNode := . }}
{{ range .Site.Menus.nav }}
        <li>
          {{ .Pre }}<a class="{{if or ($currentNode.IsMenuCurrent "nav" .) ($currentNode.HasMenuCurrent "nav" .) }}active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
{{ if .HasChildren }}
    <ul class ="children">
      <li>
        {{ .Pre }}<a class="child {{if or ($currentNode.IsMenuCurrent "nav" .) ($currentNode.HasMenuCurrent "nav" .) }}active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
      </li>
    </ul>
{{ end }} 
{{ end }}
      </ul>
  </nav>

