{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pagination">
  {{ if .Paginator.HasPrev }}
  <a class="prev" href="{{ .Paginator.Prev.URL }}">
    <i class="fas fa-angle-double-left fa-fw"></i>previous page
  </a>
  {{ end }}
  {{ if .Paginator.HasNext }}
  <a class="next" href="{{ .Paginator.Next.URL }}">
    next page<i class="fas fa-angle-double-right fa-fw"></i>
  </a>
  {{ end }}
</div>
{{ end }}
