{{ if not .Params.nometa }}
        <div class="meta">
          <div class="postinfo">
            <i class="far fa-calendar-alt fa-fw"></i>
            <time>
              {{ .Date.Format "2006-01-02 15:04" }}
            </time> 
{{ if and (isset .Params "author") (.Params.author) }}
            by <span class="author">{{ .Param "author" }}</span>
{{ end }} 
            &middot; 
            <span class="readingtime">{{ .ReadingTime }} minute read</span>
          </div>

{{ if and (isset .Params "series") (.Params.series) }}
          <div class="postseries">
            <i class="fas fa-book-open fa-fw"></i> part of the series: 
            <ul>
              {{ range .Params.series }}
              <li><a class="series" href="/series/{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            </ul>
          </div>
{{ end }}

{{ if and (isset .Params "tags") .Params.tags }}
  {{ $count := len .Params.tags }}
  {{ if gt $count 0 }}
          <div class="posttags">
            <i class="fas fa-tags fa-fw"></i>
            <ul class="tags">
    {{ range $k, $v := .Params.tags }}
              <li class="tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
    {{ end }}
            </ul>
          </div>
  {{ end }}
{{ end }}
        </div>
{{ end }}
