{{ if and (isset .Params "series") (.Params.series) }}
  {{ range .Params.series }}
    {{ $scratch := newScratch }}
    {{ $scratch.Set "series" . }}
    {{ $scratch.Delete "next" }}
    {{ $scratch.Delete "nexttitle" }}
    {{ $scratch.Delete "previous" }}
    {{ $scratch.Delete "previoustitle" }}

    {{ with ($.Site.GetPage (printf "/series/%s" ($scratch.Get "series"))) }}
      {{ range .Pages.ByDate }}
        {{ if gt $.Date.Unix .Date.Unix }}
          {{ $scratch.Set "previous" .Permalink }}
          {{ $scratch.Set "previoustitle" .Title }}
        {{ end }}
      {{ end }}
      {{ range .Pages.ByDate.Reverse }}
        {{ if lt $.Date.Unix .Date.Unix }}
          {{ $scratch.Set "next" .Permalink }}
          {{ $scratch.Set "nexttitle" .Title }}
        {{ end }}
      {{ end }}

      <div class="pagination">
        <div class="left">
          {{ if $scratch.Get "previous" }}
          <a href="{{ $scratch.Get "previous" }}">
            <i class="fas fa-angle-double-left fa-fw"></i>{{ $scratch.Get "previoustitle" }}
          </a>
          {{ else }}
          <i class="fas fa-angle-double-left fa-fw"></i>
          {{ end }}
        </div>
        <div class="mid">
          <a href="/series/{{ $scratch.Get "series" | urlize}}">{{ $scratch.Get "series" }}</a>
        </div>
        <div class="right">
          {{ if $scratch.Get "next" }}
          <a class="next" href="{{ $scratch.Get "next" }}">
            {{ $scratch.Get "nexttitle" }}<i class="fas fa-angle-double-right fa-fw"></i>
          </a>
          {{ else }}
          <i class="fas fa-angle-double-right fa-fw"></i>
          {{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
