{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<section class="wrapper">
  <h1>404 not found</h1>
  <p>sorry... maybe we should move towards content-addressed linking so this won't happen as much anymore?</p>
</section>
{{ partial "footer.html" . }}
