{{/* 

If you wanna change things on the front page, please copy this file from the `themes` directory into the base directory of your site at `/layouts/index.html` and then edit it.

The default will display three of your latest blog posts, but you can put whatever you want on here. Remember that you can add custom css to the file `/static/css/custom.css`.

*/}}
{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<section id="content" class="wrapper posts">
{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
{{ range first 3 $paginator.Pages }}
  <article>
    <h2>
{{ partial "post-title.html" . }}
    </h2>
{{ partial "post-meta.html" . }}
    <p class="excerpt">
{{ partial "post-summary.html" . }}
    </p>
  </article>
{{ end }}

  <div class="pagination">
    <a class="next" href="{{ ref . "/post" }}">
      see all posts<i class="fas fa-angle-double-right fa-fw"></i>
    </a>
  </div>
</section>

{{ partial "footer.html" . }}
